version: '3'

services:
  postgres:
    image: postgres:11.5-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: python-pg-extras-test
      POSTGRES_PASSWORD: secret
    ports:
      - '5432:5432'
